*{
    margin: 0;
    padding: 0;

}

body{
    font-family: sans-serif;
}

#nav-bar{
    background-color: red;
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, #a517ba,#a517ba,#5f1782);
    padding: 0 !important;
}

.navbar-brand img{
    height: 40px;
    padding-left: 20px;

}

.navbar-nav li{
    padding: 0 10px;
 
  
}

.navbar-nav li a{
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}

#navbarNav{
  justify-content: center;

}
/* this is the banner section  */

#banner{
    background-image: linear-gradient(to right,#a517ba, #5f1782 );
}

.promo-title{
    font-size: 30px;
    font-weight: 600;
    margin-top: 100px;
}

.play-btn{
    width: 45px;
    margin: 20px;
}
#banner a{
    color: #fff;
    text-decoration: none;
}

.bottom-img{
    width: 100%;
}

/* services section */

#services{
    padding: 80px 0;
}

.service-img{
    width: 100px;
    margin-top: 20px;
}

.services{
    padding: 20px;
}

.services h4{
    padding: 5px;
    margin-top: 20px;
    text-transform: uppercase;
}

/* this is the most important part how to draw the underlined */
.title::before{
    content: " ";
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: " ";
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(8px);

}

#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    background-image: linear-gradient(to right,#a517ba, #5f1782 );
    border-radius: 20px;
    
}

/* ABout us  */

#about-us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
    /* background-color: red; */
}

.about-title{
    /* background-color: blue; */
    font-size: 38px;
    font-weight: 600;
    margin-top: 8%;
}

#about-us ul li{
    margin: 10px 0;

}

#about-us ul {
    margin-left: 20px;

}

/* testimonials */
#testimonials{
    margin: 100px 0;
}

.testimonials{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details{
    display: inline-block;
 /* if the line are up and down and you want to bring in the same line then this is usefull */

    /* background-color: red; */
}

/* SOCIAL MEDIA SECTION */
#social-media{
    background: #f2f3f5;
    padding: 100px 0;

}

#social-media p{
    font-size: 36px;
    font-weight: 600;
}

.social-icons img{
    /* background-color: red; */
    width: 60px;
    transition: 0.5s;


}

.social-icons a:hover img{
    transform: translateY(-10px);


}

/* footer section */
#footer{
    background-image: linear-gradient(to right,#a517ba, #5f1782 );
    color: #fff;

}

.footer-img{
    width: 100%;

}
.footer-box{
    padding: 20px;
}

.footer-box img{
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    /* background-color: red; */
    border-radius: 2px;
    background-image: linear-gradient(to right,#a517ba, #5f1782 );

}

.footer-box .form-control{
    box-shadow: none;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
    /* background-color: red; */

}

.footer-box .btn-primary{
    box-shadow: none;
    /* background-color: red; */
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right,#a517ba, #5f1782 );

}

hr{
    background-color: #fff;
}

.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    /* background-color: red; */
}